
* {
    margin: 0;
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.debug {
    display: none;
}
.hide {
    display: none;
}
.invisible {
    visibility: hidden;
}

body {
    background-color: skyblue;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

/*table, th, td {
    border: white 1px solid;
}*/

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-grow {
    flex-grow: 1;
}
.center {
    text-align: center;
}

.error {
    background-color: rgb(255, 93, 93);
    padding: 5px;
    border-radius: 5px;
    border: red 1px solid;
}
.info {
    border: blue 1px solid;
    background-color: rgb(169, 169, 255);
    padding: 5px;
    border-radius: 5px;
}
.back-button {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 15px;
    cursor: pointer;
    user-select: none;
}
.page {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 1;
    transition: opacity 0.3s linear;
}
.page.hide {
    opacity: 0;
    pointer-events: none;
}

/* INPUT */

input {
    padding: 10px;
    border: 2px rgb(32, 90, 112) solid;
}

/* BUTTON */

button {
    font-size: large;
    background-color: rgb(74, 255, 131);
    padding: 10px;
    border-radius: 30px;
}
button.round {
    width: 45px;
    height: 45px;
}
button:disabled {
    background-color: rgb(116, 167, 132);
    pointer-events: none;
}

button {
    transition: transform 0.4s cubic-bezier(.47,1.64,.41,.8);
}
button:hover {
    transform: scale(105%);
}
button:active {
    transform: scale(90%);
}

/* HOME PAGE */

#home_page h1, h3 {
    text-align: center;
}
#home_page h1 {
    font-size: min(16vw, 5vh);
    margin-bottom: 0px;
}

.font-awesome {
    font-family: 'FontAwesome';
}
@font-face {
    font-family: 'FontAwesome';
    src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
    src:
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
/* MEMBER_PAGE */

#member_leave {
    position: absolute;
    right: 30px;
    top: 30px;
}

/* MEMBER_LIST */

#member_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    flex-grow: 1;
    margin: 40px;
    position: relative;
}
#group_a, #group_b {
    height: 100%;
    width: 50%;
    border-radius: 20px;
}
#group_a {
    background-color: #A44;
    border: #400 2px solid;
    box-shadow: #400 0px 10px 0px 0px;
}

#group_b {
    background-color: #44A;
    border: #004 2px solid;
    box-shadow: #004 0px 10px 0px 0px;
}
#member_arena {
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 0;
    right: 30px;
    overflow: visible;
    user-select: none;
}
.member_dummy, .member_runner {
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: left 0.3s ease-out, top 0.3s ease-out;
}
.member_person {
    display: flex;
    flex-direction: column;
}
.member_runner .member_person {
    animation: member-running 800ms linear 0s infinite;
}
@keyframes member-running {
    0% {
        transform: none;
    }
    35% {
        transform: scaleX(1.2) scaleY(0.8) translateY(30%);
    }
    75% {
        transform: scaleX(0.8) scaleY(1.2) translateY(-30%);
    }
    90% {
        transform: translateY(-30%);
    }
}
.member_runner.done .member_person {
    animation: member-done 800ms linear 0s infinite;
}
@keyframes member-done {
    0% {
        transform: none;
    }
    50% {
        transform: scaleX(1.1) scaleY(0.9) translateY(10%);
    }
}
.member_name {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);

    padding: 2px;
    border-radius: 2px;
    white-space: pre;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;

    z-index: 2;
}
#master_question .member_name, #scoreboard .member_name {
    font-size: x-large;
}
.member_head {
    width: 20px;
    height: 20px;
    margin: 0px 2.5px;
    border-radius: 50%;
    background-color: white;
}
.member_body {
    width: 25px;
    height: 25px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: white;
}

/* MEMBER QUESTION */
#question_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
#member_question.hide #question_alternatives {
    display: none;
}
#question_prompt {
    font-size: x-large;
}
#question_prompt {
    margin: 20px;
}
.alternative {
    user-select: none;
    border: rgb(0, 255, 81) 1px solid;
    background-color: rgb(74, 255, 131);
    border-radius: 15px;
    padding: 15px;
    margin: 3px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.alternative:hover {
    background-color: rgb(0, 255, 81);
}
.alternative_letter {
    border: gray 1px solid;
    background-color: lightgray;
    color: black;
    font-size: x-large;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    position: relative;
}
.alternative_answer {
    margin-left: 25px;
    font-size: large;
    flex-shrink: 1;
}
.alternative.selected .alternative_mark {
    display: block;
}
.alternative_mark {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    animation: marcar 300ms linear;
}
.crossX1 {
    position: absolute;
    width: 10px;
    height: 70px;
    left: 20px;
    top: -10px;
    transform: rotate(40deg);
    background-color: black;
}
.crossX2 {
    position: absolute;
    width: 70px;
    height: 10px;
    transform: rotate(40deg);
    top: 20px;
    left: -10px;
    background-color: black;
}
@keyframes marcar {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* MASTER QUESTIONS */

#master_question_navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}
#master_question_navbar_time {
    font-size: large;
}
#master_time {
    font-size: xx-large;
}
#master_question_navbar button {
    margin-left: 20px;
}
#master_question.hide #master_question_navbar,
#master_question.hide #road_a,
#master_question.hide #road_b {
    display: none;
}
#road_a, #road_b {
    width: 100%;
    height: 30%;
    background-color: darkgray;
    border-top: gray 10px solid;
    border-bottom: gray 10px solid;
    position: relative;
}
.road_marking {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0px;
    border: rgb(236, 236, 236) 5px dashed;
    transform: scaleX(4) translateY(-50%);
    animation: road-panning 1s linear 0s infinite;
}
@keyframes road-panning {
    0% {
        left: 0px;
    }
    100% {
        left: -60px; /* 5*4*3, border-width * scaleX * dashed */
    }
}

/* MASTER PAGE */
#master_page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
#master_page select {
    font-size: large;
    max-width: 200px;
}
#master_control {
    margin-top: 30px;
}
#master_roomid {
    padding: 0 3px;
    animation: roomid-anim 1s linear 0s infinite alternate;
}
@keyframes roomid-anim {
    0%, 40% {
        color: black;
        background-color: skyblue;
    }
    60%, 100% {
        color: skyblue;
        background-color: black;
    }
}
#qrcode {
    align-self: center;
    max-width: min(500px, 50vw, 50vh);
    max-height: min(500px, 50vw, 50vh);
    margin: 30px;
}
#master_page.hide #qrcode {
    display: none;
}
#master_member_table {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}
#master_member_table_left, #master_member_table_right {
    color: white;
    height: 100%;
    min-height: 30px;
    width: 50%;
    border-radius: 10px;
}
#master_member_table_left {
    background-color: #A44;
    border: #400 2px solid;
    box-shadow: #400 0px 10px 0px 0px;
}
#master_member_table_right {
    background-color: #44A;
    border: #004 2px solid;
    box-shadow: #004 0px 10px 0px 0px;
}
.member_item {
    padding: 10px;
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

/* SCOREBOARD */
#winner_title {
    text-shadow:
         4px 0px 0px black,
         0px 4px 0px black,
         0px -4px 0px black,
         -4px 0px 0px black,
         4px -4px 0px black,
         -4px 4px 0px black,
         4px 4px 0px black,
         -4px -4px 0px black
        ;
}
#winner_title.vermelho {
    color: red;
}
#winner_title.azul {
    color: rgb(0, 94, 255);
}
.circle_red, .circle_blue {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
}
.circle_red {
    background-color: red;
}
.circle_blue {
    background-color: rgb(0, 94, 255);
}
#scoreboard {
    overflow: hidden;
}
#scoreboard table {
    border-collapse: collapse;
    font-size: x-large;
    width: min(300px, 80%);
}
#scoreboard table th, #scoreboard table td {
    white-space: nowrap;
}
#scoreboard table .left {
    border-right: 1px solid black;
    padding-right: 10px;
}
#scoreboard table .right {
    padding-left: 10px;
}

#scoreboard.hide .confetti {
    display: none;
}
.confetti {
    position: absolute;
    left: 200px;
    top: 40px;
    width: 1em;
    height: 1em;
    left: var(--fromx);
    top: var(--fromy);
    animation: confetti-movement var(--time) linear var(--delay) infinite, confetti-rotation var(--rot-time) linear 0s infinite;
}
@keyframes confetti-movement {
    0%{
        left: var(--fromx);
        top: var(--fromy);
    }
    100% {
        left: var(--tox);
        top: var(--toy);
    }
}
@keyframes confetti-rotation {
    0% {
        background-color: var(--color-fg);
        transform: rotate(var(--rot)) rotate3d(var(--rotx), var(--roty), var(--rotz), 0deg);
    }
    50% {
        background-color: var(--color-bg);
        transform: rotate(var(--rot)) rotate3d(var(--rotx), var(--roty), var(--rotz), 180deg);
    }
    100% {
        background-color: var(--color-fg);
        transform: rotate(var(--rot)) rotate3d(var(--rotx), var(--roty), var(--rotz), 360deg);
    }
}
